@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.audio-container {
  top: 10%;
  left: 5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: brightness(0.5);
}
.audio-container:hover {
  filter: brightness(1);
}


button {
  background-color: rgba(0, 0, 0, 0);
  font-size: large;
  border: none;
  color: #a63535;
  padding-right: 10px;
}

.audio-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.month {
  word-wrap: normal;
  font-size: 15rem;
  z-index: -1;
  opacity: 0.2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-size: 60px;
  margin: -80px 0 40px;
}

.countdown {
  display: none;
  transform: scale(2);
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.timeh2 {
  margin: 0 0 5px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 45px;
  }

  .time {
    margin: 5px;
  }
  .timeh2 {
    font-size: 12px;
    margin: 0;
  }
  .timesmall {
    font-size: 10px;
  }
}